<div class="container flex-div">
  <div class="canvas-container flex-div column">
    <div class="border">
      <canvas #canvas></canvas>
    </div>
  </div>
  <div class="options flex-div">
    <div class="buttons flex-div">
      <button mat-raised-button (click)="draw()" color="primary">Reload All</button>
      <button mat-raised-button (click)="repaint()" color="primary">Re-paint</button>
    </div>
    <div class="feature flex-div column">
      <h3 class="option-title">Render type</h3>
      <mat-radio-group aria-label="Select an option" 
        [color]="'primary'"
        [(ngModel)]="fullScreen">
        <mat-radio-button [value]="false">Normal</mat-radio-button>
        <mat-radio-button [value]="true">Full screen</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="feature flex-div column">
      <h3 class="option-title">Color tolerance</h3>
      <mat-slider
        [(value)]="colorTolerance"
        [color]="'primary'"
        min="0"
        max="100"></mat-slider>
    </div>
    <div class="canvas-wave-container flex-div column">
      <canvas #canvas2></canvas>
    </div>
    <div class="feature flex-div column">
      <h3 class="option-title">Boom sensibility</h3>
      <mat-slider
        [(value)]="boomSensibility"
        [color]="'primary'"
        min="0"
        max="100"></mat-slider>
    </div>
    <div class="buttons flex-div">
      <button mat-raised-button (click)="record()" color="primary">Record</button>
      <button mat-raised-button (click)="stop()" color="primary">Stop</button>
    </div>
  </div>
</div>
