.container {
  height: 100%;
  flex-direction: column;
  @media (min-width: $jsart-mobile-max) {
    flex-direction: row;
  }
}

.canvas-container {
  width: 100%;
  flex: 0 0 auto;
  height: 67%;
  place-content: center;
  align-items: center;
  display: flex;
  @media (min-width: $jsart-mobile-max) {
    width: 70%;
    height: initial;
  }
  .border {
    padding: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: #000000;
    background: white;
    box-sizing: border-box;
    width: calc(80vw + 40px);
    max-width: 640px;
    display: flex;
    @media (min-width: $jsart-mobile-max) {
      padding: 20px;
      width: calc(50vw + 40px);
    }
  
    canvas {
      max-width: 80vw;
      @media (min-width: $jsart-mobile-max) {
        max-width: 50vw;
      }
    }
  }
}

.options {
  background-color: #cecece;
  place-content: center;
  width: 100%;
  height: 33%;
  flex-wrap: wrap;

  @media (min-width: $jsart-mobile-max) {
    width: 30%;
    flex: 0 0 auto;
    height: 100%;
    flex-direction: column;
  }
  .buttons {
    margin-bottom: 10px;
    button {
      margin-right: 10px;
    }
  }

  .feature {
    .option-title {
      margin-bottom: 0;
      @media (min-width: $jsart-mobile-max) {
        margin-top: 25px;
      }
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
      @media (min-width: $jsart-mobile-max) {
        flex-direction: row;
      }
      mat-radio-button {
        margin-bottom: 5px;
        @media (min-width: $jsart-mobile-max) {
          margin-right: 15px;
        }
      }
    }
  }

  .canvas-wave-container {
    width: 90%;
    overflow-x: scroll;
    display: none;

    @media (min-width: $jsart-mobile-max) {
      display: initial;
    }
  }

  .canvas-wave-container::-webkit-scrollbar {
    background-color: #505050;
    height: 6px;
  }
  .canvas-wave-container::-webkit-scrollbar-track {
    background-color: #cecece;
  }
  .canvas-wave-container::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 3px;
  }
}
