/* You can add global styles to this file, and also import other style files */

$jsart-mobile-max: 800px;

@import './assets/canvas-container.scss';
@import './assets/space.scss';
@import "./assets/scss/fontawesome.scss";
@import "./assets/scss/solid.scss";
@import "./assets/scss/brands.scss";

body {
  background: #fff;
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 560px;
  --blur: 2px;

  button {
    margin-top: 20px;
  }
}

app-root, triangle-art {
  height: 100%;
  width: 100%;
}

.flex-div {
  display: flex;
  align-items: center;
  &.column {
    flex-direction: column;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.credits {
  position: absolute;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF;
  bottom: 33%;
  text-decoration: none;
  left: calc(50% - 100px);

  &:before {
    @extend %fa-icon;
    @extend .fab;
    content: fa-content($fa-var-github);
    margin-right: 5px;
    font-size: 20px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  @media (min-width: $jsart-mobile-max) {
    bottom: 10px;
    left: calc(35% - 100px);
    padding: 20px;
  }
}
